
.Management{
    box-shadow: 0 4px 8px 0 rgba(0,0, 0, 0.2);
    padding: 2rem;
    width:120rem;
    margin: auto;
}
.header h3 {
    color: #ffffff;
    font-size: 3rem;
    font-family: var(--ffPrimary);
}

.excel {
    background-color: #ffffff;
    padding: 0.5rem 2rem;
    cursor: pointer;
}

.excel p {
    color: #626262;
    padding-top: 1rem;
}

.newuser {
    background-color: #ffffff;
    padding: 0.5rem 2rem;
    cursor: pointer;
}
.thead{
    padding: 5rem;
}
.data{
    color: #626262;
}
.newuser p {
    color: #626262;
    padding-top: 1rem;
}

.newuser i {
    padding: 0.5rem;
    background-color: #626262;
}

.proimg {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    margin-right: 2rem;
}

.fa-xmark {
    padding: 0.5rem;
    background-color: rgb(252, 31, 24);
    border-radius: 50%;
}

.fa-gear{
    font-size: 2.5rem;
}
.fa-gear,
.fa-xmark {
    margin: 1rem;
    cursor: pointer;
}

.footer button {
    color:#626262;
}
.footer button:hover {
    background-color: aqua;
    color: #ffffff;
}
.footer p{
    font-size: 1.6rem;
    color: #626262;
    font-family: var(--ffPrimary);
}
.footer p span{
    color: #2a2828;
}