/* Default code Starts here */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap: pretty;
    /* border: 1px solid red; */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    font-optical-sizing: auto;
}

::-webkit-scrollbar {
    width: 1rem;
    background-color: #302002;
}

h1,
h2,
h3,
h4,
h6,
p {
    text-wrap: balance;
}

input,
textarea,
button {
    font-family: inherit;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

:root {
    --primaryColor: #BE9C79;
    --secondaryColor: #d5a637;
    --tertiaryColor: #644709;
    --darkColor: #302002;
    --lightColor: #f1ebe3;
    --regularFont: 1.4rem;
    --headingFont: 2rem;
    --ffPrimary: "Roboto", serif;
}

/* Small devices (landscape phones, upto 576px and below) */
/* @media (width <=576px) */
@media (max-width: 576px) {

    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .heading{
        display: none;
    }
    .sno{
        display: none;
    }

}